*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: blueviolet;
    border: solid red;
    
}

p {
    color: white;
    font-size: 1.5em;
    background-color: black;
    border: solid red;
}

#welcome {
    style-du
}

.btn {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: solid red;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
}


.Outer-cont{
    padding: 10px;
    height: 100vh;
}

.Top-Bar p{
    float: right;
}


.quiz-welcome {
    color: white;
}

.quiz-welcome button{
    margin-left: 117px;
}


.inner-cont {
    background-color: black;
    margin-top:20vh;
    margin-left: 300px;
    margin-right: 300px;

}
h2 {
    color: white
}

main {
    color: white;
    overflow: hidden;
    
}

ul {
    list-style-type: none;
}

ul li label{
    cursor: pointer;
}
#submit {
    border: none;
    display: block;
    width: 100%;
    border: solid red;
    display: none;

}

.quiz-container {
    display: none;
}





